@media (max-width: 375px) {
    main {
        padding: 20px;
    }

    p, li, td, th {
        font-size: 14px;
    }

    .preparation-time {
        padding: 8px;
    }

    .preparation-time h1 {
        font-size: 18px;
    }

}

@media (max-width: 1000px) {
    main{
        padding: 30px;
    }

    p, li, td, th {
        font-size: 20px;
    }

    .preparation-time {
        padding: 10px;
    }

    .preparation-time h1 {
        font-size: 30px;
    }
}

